body {
	touch-action: manipulation;
}


#magic-wrapper {
	position: relative;
	padding-bottom: 62.5%;
	height: 0;
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
}

#hide{
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 62.5%;
	z-index: 25;
	background: white;
}

#background {
	position: absolute;
	width: 100%;
	z-index: 1;
}

#segment {
	position: absolute;
	width: 100%;
	z-index: 15;
	transform-origin: 50% 74%;
}

#cover {
	position: absolute;
	width: 100%;
	z-index: 20;
	transition: transform 1s ease;
	transform-origin: 50% 74%;
}

#buttons {
	position: absolute;
	width: 100%;
	z-index: 30;
}

#dial {
	position: absolute;
	width: 100%;
	z-index: 25;
	transition: transform 0.4s ease;
	transform-origin: 50% 74%;
}

#leftCard {
	position: absolute;
	width: 100%;
	z-index: 40;
	transition: transform 0.4s ease;
}

#rightCard {
	position: absolute;
	width: 100%;
	z-index: 40;
	transition: transform 0.4s ease;
}

.cardText {
	position: absolute;
	top: 89%;
	width: 24%;
	height: 12%;
	z-index: 50;
	color: rgb(241, 222, 199);
	font: 2.9vw "Impact";
}

#leftText {
	left: 16%;
}

#rightText {
	left: 61%;
}

#spinIcon {
	position: absolute;
	width: 100%;
	z-index: 35;
	transition: transform 1s ease;
	transform-origin: 9.45% 80%;
}

#reveal {
	position: absolute;
	height: 10%;
	width: 12%;
	z-index: 40;
	left: 83%;
	top: 76%;
	touch-action: manipulation;
}

#peak {
	position: absolute;
	height: 10%;
	width: 10%;
	z-index: 40;
	left: 28%;
	top: 76%;
	touch-action: manipulation;
}

#spin {
	position: absolute;
	height: 10%;
	width: 12%;
	z-index: 40;
	left: 6%;
	top: 76%;
	touch-action: manipulation;
}

#new {
	position: relative;
	height: 10%;
	width: 12%;
	z-index: 40;
	left: 62%;
	top: 76%;
	touch-action: manipulation;
}

#bPlus {
	position: absolute;
	height: 5%;
	width: 3%;
	z-index: 40;
	left: 55.3%;
	top: 74.5%;
	touch-action: manipulation;
}

#sPlus {
	position: absolute;
	height: 5%;
	width: 3%;
	z-index: 40;
	left: 52.5%;
	top: 79.5%;
	touch-action: manipulation;
}

#bMinus {
	position: absolute;
	height: 5%;
	width: 3%;
	z-index: 40;
	left: 41.7%;
	top: 74.5%;
	touch-action: manipulation;
}

#sMinus {
	position: absolute;
	height: 5%;
	width: 3%;
	z-index: 40;
	left: 44.5%;
	top: 79.5%;
	touch-action: manipulation;
}

#middle {
	position: absolute;
	height: 12%;
	width: 8%;
	z-index: 40;
	left: 46%;
	top: 67%;
	touch-action: manipulation;
}

.points {
	position: absolute;
	height: 5%;
	width: 3%;
	z-index: 40;
	top: 49%;
	touch-action: manipulation;
}

#PlusA {
	left: 16.3%;
}

#PlusB {
	left: 90.7%;
}

#MinusA {
	left: 6%;
}

#MinusB {
	left: 80.7%;
}

.pointsText {
	position: absolute;
	top: 45.5%;
	width: 5%;
	height: 6vw;
	z-index: 50;
	color: rgb(103, 64, 43);
	font: 6vw "Impact";
	text-align: center;
}

#pointsA {
	left: 10.2%;
}

#pointsB {
	left: 84.6%;
}