body {
	touch-action: manipulation;
}


#magic-wrapper {
	position: relative;
	padding-bottom: 62.5%;
	height: 0;
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
}

#background {
	position: absolute;
	width: 100%;
	z-index: 1;
}

#segment {
	position: absolute;
	width: 100%;
	z-index: 15;
	transform-origin: 50% 75%;
}

#cover {
	position: absolute;
	width: 100%;
	z-index: 20;
	transition: transform 1s ease;
	transform-origin: 50% 75%;
}

#buttons {
	position: absolute;
	width: 100%;
	z-index: 30;
}

#dial {
	position: absolute;
	width: 100%;
	z-index: 25;
	transition: transform 0.4s ease;
	transform-origin: 50% 75%;
}

#leftCard {
	position: absolute;
	width: 100%;
	z-index: 40;
	transition: transform 0.4s ease;
}

#rightCard {
	position: absolute;
	width: 100%;
	z-index: 40;
	transition: transform 0.4s ease;
}

.cardText {
	position: absolute;
	top: 89%;
	width: 24%;
	height: 12%;
	z-index: 50;
	color: rgb(241, 222, 199);
	font: 2.3em "Impact";
}

#leftText {
	left: 16%;
}

#rightText {
	left: 61%;
}

#spinIcon {
	position: absolute;
	width: 100%;
	z-index: 35;
	transition: transform 1s ease;
	transform-origin: 9.45% 80%;
}

#reveal {
	position: absolute;
	height: 10%;
	width: 12%;
	z-index: 40;
	left: 83%;
	top: 76%;
}

#peak {
	position: absolute;
	height: 10%;
	width: 10%;
	z-index: 40;
	left: 28%;
	top: 76%;
}

#spin {
	position: absolute;
	height: 10%;
	width: 12%;
	z-index: 40;
	left: 6%;
	top: 76%;
}

#new {
	position: relative;
	height: 10%;
	width: 12%;
	z-index: 40;
	left: 62%;
	top: 76%;
	background: purple;
}

#bPlus {
	position: absolute;
	height: 5%;
	width: 3%;
	z-index: 40;
	left: 55%;
	top: 76%;
	touch-action: manipulation;
}

#sPlus {
	position: absolute;
	height: 5%;
	width: 3%;
	z-index: 40;
	left: 53%;
	top: 80%;
	touch-action: manipulation;
}

#bMinus {
	position: absolute;
	height: 5%;
	width: 3%;
	z-index: 40;
	left: 42%;
	top: 76%;
	touch-action: manipulation;
}

#sMinus {
	position: absolute;
	height: 5%;
	width: 3%;
	z-index: 40;
	left: 45%;
	top: 80%;
	touch-action: manipulation;
}

#middle {
	position: absolute;
	height: 14%;
	width: 8%;
	z-index: 40;
	left: 46%;
	top: 67%;
	touch-action: manipulation;
}